@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif, 'Kufam';
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.App {
  width: 100%;
  height: 100vh;
  background-color: #e0faff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  height: 80px;
  width: 100%;
  margin-bottom: 60px;

  &__container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__menu {
      position: relative;
      cursor: pointer;

      .header__menu {
        display: none;
      }
      .active {
        background: #fff;
        width: 200px;
        height: auto;
        position: absolute;
        border-radius: 10px;
        right: 45px;
        box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.08);
        display: block;

        .header__menu__nav {
          padding: 20px;

          nav li {
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  .logotypeBlock {
    display: flex;
    align-items: center;

    span {
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      margin-left: 10px;
      border-left: 1px solid #fff;
      padding-left: 10px;
      height: 100%;
    }
  }

  .logo {
    width: 55px;
    height: 55px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: #fff;
    font-size: 12px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .page-title {
    font-size: 42px;
    color: #000;
    font-weight: bold;
    text-align: center;
  }
  .emp {
    font-size: 42px;
    color: #000;
    font-weight: 400;
    font-family: 'Kufam';
  }
  .wrapper {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



label {
  // width: 100%;
}

.card .card-wrapper .card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #FFF;
  text-align: center;
  line-height: 200px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
}

.card .card-back {
  background: #ffffff;
  color: rgb(0, 0, 0);
  transform: rotateX(180deg);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  border: 2px dashed #000;
  border-radius: 60px;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
}

.card-back {
  display: none;
}

input {
  outline: none;
}

.card-input {
  display: none;
}

:checked + .card {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);

  .card-back {
    display: block;
  }
}


.card {
  width: 365px;
  height: 475px;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.9);
  border: 2px dashed #000000;
  border-radius: 60px;

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;

  .card-wrapper {
    padding: 25px 35px;

    .card-header {
      margin-bottom: 15px;
      text-align: center;
      .card-country {
        font-weight: 700;
        font-size: 16px;
        color: #000000;
      }
    }

    .card-general {
      .card-info__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 45px;
        .card-info__img {
          width: 130px;
          height: 165px;
          border-radius: 22px;
        }
        .card-info__text {
          display: flex;
          justify-content: inherit;
          flex-direction: column;

          .card-info__title {
            display: block;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            color: #000;
          }
          .card-info__subtitle {
            display: block;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            color: #000;
            margin-bottom: 5px;
          }
        }
      }
      .card-info__bottom {
        .card-info__title {
          display: block;
          font-weight: 400;
          font-size: 15px;
          line-height: 20px;
          color: #000;
        }
        .card-info__subtitle {
          display: block;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 21px;
          color: #000;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.login {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .login-wrapper {
    background-color: #fff;
    width: 595px;
    height: 595px;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }

  .login-container {
    padding: 60px;

    .login-title {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      display: block;
      text-align: center;
      margin-bottom: 7px;
    }
    .login-subtitle {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      display: block;
      text-align: center;
      margin-bottom: 80px;
    }

    .login-form {
      .inputNumber {
        border-radius: 0px 7px 7px 0px;
        -webkit-border-radius: 0px 7px 7px 0px;
        -moz-border-radius: 0px 7px 7px 0px;
        -ms-border-radius: 0px 7px 7px 0px;
        -o-border-radius: 0px 7px 7px 0px;
        padding: 0px 0px 0px 10px !important;
        border: none !important;
        outline: none;
    }
      input {
        background: #edf2f7;
        border-radius: 7px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #000000;
        border: none;
        outline: none;
        height: 50px;
        margin-bottom: 23px;
      }
      
      .inputAdd {
        height: 50px;
        background: #edf2f7;
      }
    }
    .login-forgot {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 50px;
    }
    .login-button {
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        background: #000000;
        border-radius: 17.5px;
        width: 140px;
        height: 40px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        &:hover {
          background: #333333;
          color: #FFFFFF;
        }
      }
    }
  }
}

.admin {
  display: flex;
  align-items: center;
  justify-content: center;

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
  }

  .tabs {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .admin-wrapper {
    width: 100%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    padding: 50px 50px;

    &__title {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 29px;
      color: #000000;
      margin-bottom: 12px;
      display: block;
      text-align: center;
    }

    &__subtitle {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 29px;
      color: #000000;
      display: block;
      text-align: center;
    }

    .admin-form {
      &__container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 70px;
      }
      .admin-input {
        background: #daf2fd;
        border-radius: 7px;
        width: 245px;
        height: 50px;
        border: none;
        outline: none;
        padding-left: 20px;
      }
      .admin-form__block {
        margin: 0px 50px 20px 30px;
      }
    }
    .admin-form__button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 60px;
      button {
        background: #000;
        width: 140px;
        height: 40px;
        border-radius: 18px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        margin: 0px 25px 0px 25px;
        transition: 0.3s;
        &:hover {
          background: rgba(0, 0, 0, 0.636);
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 40px;
  }
  .login .login-wrapper {
    width: 95%;
  }
  .chakra-input .css-1kp110w {
    width: 100%;
  }
  .home .page-title {
    font-size: 25px;
    color: #000;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .home .emp {
    font-size: 23px;
    color: #000;
    font-weight: 400;
    font-family: 'Kufam';
  }
  .home .wrapper {
    margin-top: 50px;
  }
  .admin .admin-wrapper .admin-form__container {
    justify-content: center;
  }
  .admin .admin-wrapper {
    padding: 35px 0px;
  }
  .chakra-tabs__tab-panel {
    padding: 0;
  }
}


::-webkit-scrollbar {
  width: 5px; /* ширина для вертикального скролла */
  height: 5px; /* высота для горизонтального скролла */
  background-color: #00000000;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #000000c2;
  border-radius: 5em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #25386100;
}